.elementor-37 .elementor-element.elementor-element-f5891d8{margin-top:20px;margin-bottom:0px;}.elementor-37 .elementor-element.elementor-element-d935be9{text-align:center;}.elementor-37 .elementor-element.elementor-element-d935be9 .elementor-heading-title{color:#292A2A;}.elementor-37 .elementor-element.elementor-element-8ab7d73{text-align:center;}:root{--page-title-display:none;}/* Start custom CSS for html, class: .elementor-element-533495d */.soloto {
    font-family: Roboto;
    font-size: 150px;
    font-weight: bold;
    color: #61CE70;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-59ebb55 */table, th, td, tr {
    border: none !important;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin: 0px;
}/* End custom CSS */